/* buttons for js */
.filters {
    background-color: red; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.complete{
    background-color: green; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


/* H1 */
h1 {
    color: black;
    text-align: center;
    font-family: fantasy;
  }

  div.container{
    text-align: center;
    font-family: fantasy;
    display: table-cell;
    vertical-align: middle 
  }